<mat-toolbar color="primary">
  <span>Angular Scythe Scorer</span>
  <span class="toolbar-spacer"></span>
  <a href="https://github.com/arami265/angular-scythe-scorer">
    <button mat-raised-button
    type='button'
    color="accent">Back</button>
  </a>
</mat-toolbar>

<h1 class="center-text padded" style="font-weight:500; font-size: 34px;">Scythe Board Game Scorer</h1>

<div class="larger-width centered padded left-text">
  <h3>This Angular app scores a player's game of Scythe, utilizing beautiful Angular material components.</h3>
  <h2>Enter your game data below:</h2>
</div>

<!-- PHASE 1 -->
<div *ngIf="!playerCountButtonPressed" class="med-width padded centered">
  <mat-card class = "centered full-width">
    <form autocomplete="off">
      <mat-form-field class = "full-width">
        <mat-label>Number of players in this game</mat-label>
        <input matInput type="text" name="playerCount"
        (input)="onInputPlayerCount($event.target!)" />
      </mat-form-field>
      <br>
      <div class="center-text">
        <button mat-raised-button
        [disabled]="playerCount < 2 || playerCount > 7"
        type='button'
        color="primary"
        (click)="onClickPlayerCount()">Enter player count</button>
      </div>
    </form>
  </mat-card>

  <br>

  <div class="med-width padded center-text">
    <button mat-raised-button
    type="button"
    color="primary"
    (click)="onClickOnePlayer()">. . . or click here to just calculate one score</button>
  </div>
</div>

<!-- PHASE 2 -->
<div *ngIf="playerCountButtonPressed">
  <div *ngFor="let player of players">
    <app-player-card
    [availableFactions]="availableFactions"
    [id]="player.id"
    [(shibaCount)]="shibaCount"
    [(selectedFactions)]="selectedFactions"
    [(faction)]="player.faction"
    [(inHand)]="player.inHand"
    [(popularity)]="player.popularity"
    [(stars)]="player.stars"
    [(territories)]="player.territories"
    [(structureBonus)]="player.structureBonus"
    [(workersMechsStructures)]="player.workersMechsStructures"
    ></app-player-card>
  </div>

  <div class="centered padded center-text larger-width">
    <button mat-raised-button *ngIf="playerCount > 1"
    type='button'
    color="primary"
    (click)="onClickCalculateScore()"
    [disabled]="shibaCount != 0">Calculate scores</button>

    <button mat-raised-button *ngIf="playerCount == 1"
      type='button'
      color="primary"
      (click)="onClickCalculateScore()"
      [disabled]="shibaCount != 0">Calculate score</button>

    <div *ngIf="calculateButtonPressed" class="padded left-text">
      <br>
      <div *ngIf="playerCount == 1">
        <p style="font-size:x-large;">Your score as {{ players[0].faction }}: {{ players[0].score }}</p>
      </div>
      <div *ngIf="playerCount > 1">
        <div *ngFor="let player of players">
          <p style="font-size: large;">{{ player.faction }}'s Score: {{ player.score }}</p>
        </div>
        <hr>
        <br>
        <div *ngIf="tiedPlayerIds.length == 0" >
          <h1>The winning faction is {{ players[winnerId-1].faction }}!</h1>
        </div>
        <div *ngIf="(tiedPlayerIds.length > 0)" class="center-text">
          <h2>The winner is tied between the following factions:</h2>
          <div *ngFor="let playerId of tiedPlayerIds">
            <p style="font-size: large;">{{ players[playerId-1].faction }}</p>
          </div>
          <br>
          <div style="font-size: medium;" class="left-text">
            <p>Count your total number of workers, mechs, and structures.<br>
              <b>This will determine the winner!</b>
            </p>
            <p>If that doesn't settle it, go by the following in order:</p>
            <ol>
              <li>Power</li>
              <li>Popularity</li>
              <li>Number of resources</li>
              <li>Number of territories</li>
              <li>Number of stars</li>
            </ol>
          </div>
        </div>
      </div>
    </div>
</div>
